/* frontend/src/styles/landingPage.css */

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  h1, h2 {
    color: #333;
  }
  
  /* Table Styles */
  table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  table th,
  table td {
    padding: 12px;
    text-align: left;
  }
  
  table th {
    background-color: #0779e4;
    color: white;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #ddd;
  }
  